<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col col-9 text-left>
        <img src="assets/image/header.png" style="z-index:11;width: 200px;">
      </ion-col>
      <ion-col col-3 class="p-r-20" text-right>
        <ion-icon name="exit" class="pointer exit-icon" (click)="cerrarSesion()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user == null" style="text-align: center;padding-top: 100px;">
    <p style="font-size: 30px;">No Información</p>
  </div>
  <div *ngIf="user != null">
    <div class="parent" style="padding-left: 20px;">
      <p style="font-weight: bold;font-size:20px;text-align: center;">Información general</p>
    </div>
    <div style="font-size: 20px;font-weight: bold;padding-left: 20px;">Titular</div>
    <div style="padding-left: 20px;">
      <p style="padding-left: 10px;"><strong>Nombre:</strong> {{user['name']}}</p>
      <p style="padding-left: 10px;"><strong>Cta. Bancaria:</strong> {{user['bank'].acc_number}}</p>
    </div>
    <div style="font-size: 20px;font-weight: bold;padding-left: 20px;">Comensales</div>
    <div class="child">
      <div *ngIf="user['childs'].length > 0">
          <ion-card *ngFor="let child of user['childs']">
            <ion-card-header>
              <ion-card-title>{{child.name}}</ion-card-title>
              <ion-card-subtitle *ngIf="child.x_ise_centro && child.x_ise_centro!='false'">{{child.x_ise_centro}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content text-center>
              <ion-button size="medium" class="child-button" (click)="openCalendar(child)"><ion-icon name="calendar"></ion-icon>&nbsp;Calendario comedor</ion-button>                  
              <ion-button size="medium" class="child-button" (click)="openHistorico(child)"><ion-icon name="time"></ion-icon>&nbsp;Histórico de peticiones</ion-button>                  
              <ion-button size="medium" class="child-button" (click)="openAsistencia(child)"><ion-icon name="settings"></ion-icon>&nbsp;Configuración de asistencia</ion-button>                  
            </ion-card-content>
          </ion-card>
      </div>
      <div *ngIf="child_length == 0" style="text-align: center;padding-top: 20px;">
        No tiene comensales registrados
      </div>
    </div>
  </div>

</ion-content>
