.childArrow{
    float: right;
    max-width: 10% !important;
    min-width: 10% !important;
}
.edu{
    max-width: 100% !important;
    min-width: 100% !important;

}
.childName{
    max-width: 100% !important;
    min-width: 100% !important;
    font-size: 20px;    
}

.bigdate {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #488aff;    
}
