<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-col size="10" text-center>
        <img src="assets/image/header.png" style="z-index:11;width: 200px;margin-left:25%;">
      </ion-col>
      <ion-col size="2" class="p-r-20" text-right>
        <ion-icon name="exit" class="pointer exit-icon" (click)="cerrarSesion()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user == null" style="text-align: center;padding-top: 100px;">
    <p style="font-size: 30px;">No Información</p>
    <p style="font-weight: normal;font-size:12px;text-align: center;">Versión: {{userService.getVersion()}</p>    
  </div>
  <div *ngIf="user != null">
    <div class="parent" style="padding-left: 20px;">
      <p style="font-weight: bold;font-size:20px;text-align: center;">Información general</p>
      <p style="font-weight: normal;font-size:12px;text-align: center;">Versión: {{app_version}}</p>
    </div>
    <div style="font-size: 20px;font-weight: bold;padding-left: 20px;">Titular</div>
    <div style="padding-left: 20px;">
      <p style="padding-left: 10px;"><strong>Nombre:</strong> {{user['name']}}</p>   
      <p style="padding-left: 10px;line-height: 40px;"><strong>Cta. Bancaria:</strong> {{user['bank'].acc_number_fmt}} <ion-button [disabled]="true" size="medium" class="icon-button" style="margin-top:-12px;padding-left: 10px;" (click)="editarCuenta()"><ion-icon name="create"></ion-icon>Cambiar cuenta</ion-button></p> 

    </div>
    <div style="font-size: 20px;font-weight: bold;padding-left: 20px;">Comensales</div>
    <div class="child">
      <div *ngIf="user['childs'].length > 0">
          <ion-card *ngFor="let child of user['childs']">
            <ion-card-header *ngIf="child['x_ise_estado']!=false">
              <ion-row>
                <ion-col size="7">
                  <ion-card-title>{{child.name}}</ion-card-title>
                  <ion-card-subtitle *ngIf="child.active_school_id && child.active_school_id.length>0">{{child.active_school_id[1]}}</ion-card-subtitle>
                  <ion-card-subtitle *ngIf="child.company_id && child.company_id.length>0">{{child.company_id[1]}}</ion-card-subtitle>
                  <ion-card-subtitle>Estado: {{child['x_ise_estado']}}</ion-card-subtitle>                   
                </ion-col>
                <ion-col size="5" style="padding-top:0px;padding-right:0px;">
                  <img src="{{child.catering_logo}}" style="z-index:11;width: 150px;float: right;">
                </ion-col>
              </ion-row>
            </ion-card-header>
          
            <ion-card-content  *ngIf="child['x_ise_estado']!=false" text-center>
              <ion-button [disabled]="child['x_ise_estado']==='baja_ise'" size="medium" class="child-button" (click)="openCalendar(child)"><ion-icon name="calendar"></ion-icon>&nbsp;Calendario comedor</ion-button>                  
              <ion-button [disabled]="child['x_ise_estado']==='baja_ise'" size="medium" class="child-button" (click)="openHistorico(child)"><ion-icon name="time"></ion-icon>&nbsp;Histórico de peticiones</ion-button>                  
              <ion-button [disabled]="child['x_ise_estado']==='baja_ise'" size="medium" class="child-button" (click)="openAsistencia(child)"><ion-icon name="settings"></ion-icon>&nbsp;Configuración de asistencia</ion-button>
            </ion-card-content>
          </ion-card>
      </div>
      <div *ngIf="child_length == 0" style="text-align: center;padding-top: 20px;">
        No tiene comensales registrados
      </div>
    </div>
  </div>

</ion-content>
