<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Control de presencia</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title>{{school.name}}</ion-card-title>
    <ion-card-subtitle><span class="controldate">{{dateFmt}}</span></ion-card-subtitle>    
  </ion-card-header>

  <div *ngIf="control?.length == 0" style="text-align: center; padding: 100px 20px;">
    <p style="font-size: 24px;">No hay comensales</p>
  </div>
  <div *ngIf="control?.length > 0" >
    <ion-row *ngFor="let student of control" [class]="student.class">
      <ion-col size="12">
        <div class="asistencia-nombre">{{student.nombre}}</div>               
      </ion-col>
    </ion-row>
  </div>
  <div style="text-align: center;">
    <ion-button size="medium" style="width: 50%;margin:auto;margin-top: 30px;--color:#00584c;--background:#ffffff;" (click)="goBack()" expand="block">Volver</ion-button>
  </div>
</ion-content>
