.header-md::after {
  background: none !important;
}

.bigdate {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}

.status {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #488aff;
  padding-top: 0px;
}

.smalltxt{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  color: rgb(85, 85, 85);
} 

ion-calendar {
  padding: 0px 0px !important;
}

ion-calendar-week {
  display: block !important;
}



ion-toolbar {
  z-index: 10;
}

.week-toolbar{
  background-color: #ffffff!important;
}

